.container {
    width: 60%;
    /* position: relative; */
}
.header {
    background: #f7931a;
    color: white;
    /* border: 2px solid #f7931a; */
    /* box-shadow: 10px 5px 5px #f7931a; */
}
.stepContainer{
    width: 80%;
    margin: 20px auto;
}
.title{
    font-size: 25px;
    width: 100%;

}
table {
    border-collapse: collapse;
  }
th, td {
    border: 1px solid #999;
    padding: 5px;
    text-align: left;
}
td{
    height: 30px;
}
.head{
    width: 40%;
}

.formContainer{
    display: flex;
    flex-direction: column;
}

@media(max-width: 950px) {
    .container {
        width: 90%;
    }
    .stepContainer{
        width: 90%;
    }
    /* .formContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } */
}