#navbar {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
}
.avatar{
    order: 1;
    /* justify-self: flex-end; */
}
@media (max-width: 768px) { 
    #navbar {
        padding-left: 20px;
        padding-right: 20px;


    };
    .userProfile{
        display: block;
        float: left;
    }
    .navbarBrand{
        order: 1;
    }
    .avatar{
        order: 2;
        /* justify-self: flex-end; */
    }
    .toogleButton{
        order: 3
    }
 }